.RecipeCard{
  position: relative;
  background: #fff;
}
.RecipeCard h1{
  font-size: 16px;
}
.RecipeCard h2{
  font-size: 24px;
  margin: auto;
}
.RecipeCard.Collapsed{
  width: 70vw;
  height: 50vw;
}
.RecipeCard.Collapsed .RecipeContent{
  display: none;
}
.RecipeCard.Expanded{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.RecipeCard.Expanded .RecipeHeader{
  height: 30%
}
.RecipeCard.Expanded .RecipeImage{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.RecipeHeader{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.RecipeImage{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.RecipeInfo{
  position: absolute;
  bottom: 0;
  display: flex;
}
.RecipeContent{
  position: relative;
  height: 70%;
}
.RecipeNavigation{
  height: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #aaa;
  padding: 3px 0;
}
.RecipeIngredients{
  height: 90%;
  width: 100vw;
  background: red;
}
.RecipeIngredients.hide{
  margin-right: 100vw
}
.RecipeInstructions{
  height: 90%;
  width: 100vw;
  background: green;
}
.RecipeInstructions.hide{
  margin-left: 100vw;
}
.RecipeNewLineBtn{
  position: absolute;
  top: 10%;
  right: 0;
}
