.RecipeIngredient{
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 10% 20%;
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed #aaa;
}

.RecipeIngredient input{
  margin: 2px;
  padding: 1px;
  border: none;
}
